.home-page {
    text-align: center;
    padding: 20px;
}

.carousel-item {
    display: flex;
    justify-content: center; /* Centra la imagen en el carrusel */
    width: 1280px;
    height: 140;
}

.carousel-image {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    max-width: 1280px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantiene la relación de aspecto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(138, 48, 48, 0.1); /* Sombra */
    width: 1280;
}

.activate {
    background-color: rgb(155, 154, 154);
}

.deactivate {
    background-color: rgb(254, 254, 254);
}