

.image-section-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  gap: 2%;
}

img {
  margin: 0;
  padding: 0;
}
  
  .left-image {
    width: 76%;
    height: auto; 
  }
  
  .right-image-section {
    width: 22%;
    height: auto;
  }
  
  .logo-image2 {
    width: 100%; 
    height: auto;  
  }
  
  .text-below-logo {
    text-align: center; 
  }
  
  .text-below-logo span {
    color: #000000;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px; 
  }
  
  .sub-text {
    font-size: 14px;
    color: #000000;
    margin-right: 25px; 
}

.link-to {
  width: 100%;
  justify-content: center;
  width: 100%;
}
  
  .create-entry-button {
  padding: 5px;
  background-color: #0220c9;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  width: 80%;
  height: 3rem;
  }
  
.create-entry-button:hover {
    background-color: #272727;
  }