

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 1rem;
  margin: 0 auto;
}

.codenet-logo {
  width: 13rem;
  padding: 0.5rem;
}

.logo {
  display: flex;
  align-items: center; 
  font-family: Arial, Helvetica, sans-serif;
}

.logo-image {
  background-color: #f1f1f1;
  width: 40px; 
  height: auto; 
  margin-right: 10px; 
}

.logo-text {
  display: flex;
  flex-direction: column; 
  
}

.nav-links {
  display: flex;
  gap: 10%;
  margin: 0 9rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.nav-icon {
  margin-right: 0.3rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-bar input {
  padding: 5px;
}

.search-button {
  background: none; 
  border: none; 
  cursor: pointer; 
  font-size: 20px; 
  padding: 0 10px;
}

.search-button:hover {
  color: #007BFF; /* Cambia el color de la lupa al pasar el ratón */
}

.language-switcher button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.language-switcher {
  display: flex;
  align-items: center;
}

.flag-icon {
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 0 10px;
}
.main-title {
  font-size: 24px; 
  font-weight: bold;
}

.sub-title {
  font-size: 12px; 
  margin-top: -5px; 
  letter-spacing: 1px;
}



/* Styling for the search container */
.search-container {
  display: flex;
  align-items: center;
  background-color: #e0e0e0; /* A lighter grey than before */
  border-radius: 10px; /* Less rounded corners */
  padding: 5px 8px;
  width: 166px; /* Adjusted width */
  height: 36px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Optional: slight shadow */
}

/* Styling for the search input */
.search-input {
  border: none;
  background-color: transparent;
  padding: 6px;
  width: 100%;
  outline: none;
  font-size: 14px;
  color: #333; /* Darker text */
  text-align: left;
}

/* Styling for the search button (magnifying glass) */
.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ensure button spans the height of the container */
  padding: 0;
  margin: 0;
}

.search-button img {
  width: 16px; /* Smaller size for better vertical centering */
  height: 16px;
}
